USE [master]
GO
/****** Object:  Database [DB_Refer]    Script Date: 8/31/2020 10:39:35 AM ******/
CREATE DATABASE [DB_Refer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReedyScore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ReedyScore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReedyScore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ReedyScore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Refer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Refer]
GO
/****** Object:  Table [dbo].[tblDistrict]    Script Date: 8/31/2020 10:39:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDistrict](
	[ID] [int] NOT NULL,
	[District] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblDistrict] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReferral]    Script Date: 8/31/2020 10:39:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReferral](
	[ReferralID] [int] IDENTITY(1,135) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProjectCode] [int] NOT NULL,
	[Division] [varchar](30) NOT NULL,
	[District] [varchar](30) NOT NULL,
	[Tehsil] [varchar](30) NOT NULL,
	[VC] [varchar](30) NULL,
	[Department] [varchar](30) NOT NULL,
	[SubHeadNameLocation] [varchar](max) NOT NULL,
	[ReferralDate] [date] NOT NULL,
	[Apparent_Issue] [varchar](max) NOT NULL,
	[Name] [varchar](80) NOT NULL,
	[Desgination] [varchar](30) NOT NULL,
	[Contact] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Decision] [varchar](max) NULL,
	[Comments] [varchar](max) NULL,
	[Attachment] [varchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblReferral] PRIMARY KEY CLUSTERED 
(
	[ReferralID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReferralNotification]    Script Date: 8/31/2020 10:39:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReferralNotification](
	[NID] [numeric](18, 0) IDENTITY(1,100) NOT NULL,
	[UserID] [numeric](18, 0) NOT NULL,
	[ReferralID] [nvarchar](20) NULL,
	[Msg] [nvarchar](250) NULL,
	[view] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTehsil]    Script Date: 8/31/2020 10:39:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTehsil](
	[ID] [int] NOT NULL,
	[Tehsil] [varchar](50) NOT NULL,
	[District] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblTehsil] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblReferral] ADD  CONSTRAINT [DF_tblReferral_Approved]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblReferralNotification] ADD  CONSTRAINT [DF_ReferralNotification_view]  DEFAULT ((0)) FOR [view]
GO
USE [master]
GO
